<div class="center" ng-if="!profile">
	<div ng-init=redirectlogin()>Chat  application</div>
</div>
<div class="center" ng-if="profile">

	 <div class="row">
      <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
         

        <A href="#" >{{profile.username}}</A>
       <br>
<p class=" text-info">{{date}} </p>
      </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0 toppad" >
   
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Welcome  {{profile.username}}</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=Profile" class="img-circle img-responsive"> </div>
                
               
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Name :</td>
                        <td>{{profile.firstName }}  {{profile.lastName}}</td>
                      </tr>
                       
                      <tr>
                        <td>Email</td>
                        <td><a href="mailto:{{profile.email}}">{{profile.email}}</a></td>
                      </tr>

                      <tr>
                        <td>Chat With </td>
                        <td>  <input type="text" name="username" id="username" class="form-control" placeholder="use testuser1 to testuser5" ng-model="msg.to"  ng-disabled="chat.with" required > 
                        <input type="button"  value="connect"  class=" btn btn-default form-control" ng-click="startChat()">
                         <input type="button"  value="Refresh"  class=" btn btn-default form-control" ng-click="refresh()">


                        </td>

                      </tr>

                       <tr ng-if=(chat.with)>

                        <td class="text-success">
                                You are now connected with {{chat.with}}  
                            
                          </td>
                          <td></td>
                      </tr>
                        
                     
                    </tbody>
                  </table>


                  <div class="container" ng-if=(chat.with)>
    <div class="row form-group">
        <div class="col-xs-8 col-md-8 col-lg-8 ">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span> Chat window
                    
                </div>
                <div class="panel-body body-panel">
                    <ul class="chat">

                    <div ng-repeat="itemChat in conversation track by $index"> 
                     

                       <li ng-if="itemChat.from!=profile.username" class="left clearfix"><span class="chat-img pull-left">
                            <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">{{itemChat.from}}</strong> <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span></small>
                                </div>
                                <p>
                                    {{itemChat.text}}
                                </p>
                            </div>
                        </li>
                        <li ng-if="itemChat.from==profile.username"  class="right clearfix"><span class="chat-img pull-right">
                            <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <small class=" text-muted"><span class="glyphicon glyphicon-time"></span></small>
                                    <strong class="pull-right primary-font">{{itemChat.from}}</strong>
                                </div>
                                <p>
                                    {{itemChat.text}}
                                </p>
                            </div>
                        </li>

                    </div>
                       
                        
                    </ul>
                </div>
                <div class="panel-footer clearfix">
                    <textarea class="form-control" rows="3" ng-model="msg.text"></textarea>
                    <span class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-xs-12" style="margin-top: 10px">
                        <button class="btn btn-info btn-lg btn-block" id="btn-chat" ng-click="sendMessage()" >Send</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
                 
                </div>
              </div>
            </div>
                 <div class="panel-footer">

                
                        
                        <span class="pull-right">
                        </span>
                    </div>
            
          </div>
        </div>
      </div>
</div>
